---
layout: default
---
<div class="home">
        {% for post in paginator.posts %}
        <div class="panel panel-body">
            <div>
                <div>
                    <h2 style="text-align:left;">
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                </div>
            
                <div>
                    {{ post.content | strip_html | truncatewords:100}}
                </div>
                <div>
                    <h6 style="text-align:right;">Posted on {{ post.date | date: "%b %-d, %Y" }}</h6>
                </div>
            </div>
        </div>
        <hr/>
        {% endfor %}
    <div class="bs-component">
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue">
                {% if paginator.next_page %}
                    <li class="active page-item"><a class="page-link" href="{{paginator.previous_page_path}}">«</a></li>
                    {% else %}
                    <li class="disabled page-item"><a class="page-link" href="#">«</a></li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if paginator.page == page %}
                    <li class="active page-item"><a class="page-link" href="#">{{ page }}</a></li>
                    {% elsif page == 1 %}
                    <li class="page-item"><a class="page-link" href="/">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{paginator.next_page_path}}">»</a></li>
                {% else %}
                <li class="disabled page-item"><a class="page-link" href="#">»</a></li>
                {% endif %}
            </ul>
        </nav>
        
    </div>
</div>
