<footer>
    <div class="container">
        <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}"> RSS</a></span>
        <span><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></span>
        <span><a href="https://github.com/{{ site.github_username }}">GitHub</a></span>
        <span><a href="https://www.linkedin.com/in/vitormussatto">Linkedin</a></span>
        <span class="pull-right"><a href="#top">Back to top</a></span>
    </div>
</footer>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-0799134443993484",
        enable_page_level_ads: true
    });
</script>
<script>
    (function() {
        var cx = '007066915534068649816:43ybenam0jq';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>