<footer>
    <div class="container">
        <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="fa fa-rss"></a></span>
        <span><a href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter"></a></span>
        <span><a href="https://github.com/{{ site.github_username }}" class="fa fa-github"></a></span>
        <span><a href="https://www.linkedin.com/in/vitormussatto" class="fa fa-linkedin"></a></span>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84654888-1"></script>
<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-84654888-1');
</script>