<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                {% for page in site.pages %}
                  {% if page.title %}
                  <span class="icon-bar"></span>
                  {% endif %}
                  {% endfor %}
                  {% for page in site.skills %}
                  {% if page.title %}
                  <span class="icon-bar"></span>
                  {% endif %}
                {% endfor %}
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Posts</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">

            <ul class="nav navbar-nav">
                {% for page in site.pages %}
                  {% if page.title %}
                  <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% for page in site.skills %}
                  {% if page.title %}
                  <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
                {% endfor %}

                <li><div id="google_translate_element"></div></li>
            </ul>
        </div>


    </div>
</nav>
