<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="blog-blackground">

    {% include header.html %}
    <div class="container" style="min-height:150px; margin-top:35px;">

      <div >
        {% if page.url %}
        <div
          class="fb-like"
          data-href="http://mussatto.github.io/"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>

        {% endif %}
        <div class="page-content">
          <!--INFOLINKS_ON-->
        {{ content }}
          <!--INFOLINKS_OFF-->
        </div>
      </div>

      {% if page.postid %}
      <div id="comments" name="comments">
      </div>
      {% endif %}
      </div>
    {% include footer.html %}

    <script type="application/ld+json">
    {
      "@context": "http://mussatto.github.io",
      "@type": "Person",
      "name": "Vitor Mussatto",
      "jobTitle": "Software Engineer",
      "affiliation": "University of Sao Paulo",
      "additionalName": "Mussatto",
      "url": "http://mussatto.github.io",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Utrecht",
        "addressRegion": "Netherlamnds"
      }
    }
    </script>
  

  <link async defer rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link async defer rel="stylesheet" href="{{ "/css/custom.min.css" | prepend: site.baseurl }}"/>
  <link async defer rel="stylesheet" href="{{ "/css/syntax.min.css" | prepend: site.baseurl }}"/>

</body>
</html>
